 <div class="container-fluid">
      <div class="row">
        <nav class="sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/dashboard']">
        		 <i class="material-icons">dashboard</i>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/dashboard/orders']">
                 <i class="material-icons">insert_drive_file</i>
                  Orders
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/dashboard/products']">
                   <i class="material-icons">shopping_cart</i>
                  Products
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/dashboard/customers']">
                	  <i class="material-icons">person_pin</i>
                
                  Customers
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="material-icons">reorder</i>
                  Reports
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                 <i class="material-icons">date_range</i>
                  Calendar
                </a>
              </li>
            </ul>

          </div>