<div class="row">
<div class="col-lg-6 col-md-6 col-sm-12">
	<div class="mb-2">
	<h5 class="customer-list--header">List of customers</h5> <input type="text" name="filter" placeholder="filter..." [(ngModel)]="filter" class="main-form-control filter-customers">
</div>
<ul class="customer-list">
<app-customer-single *ngFor="let customer of customers | titleFilter : 'name' : filter" [customer]="customer" (addUser)="onAddOrRemoveUserFromGroup($event)" [groupList]="groupList"></app-customer-single>
</ul>
</div>

<div class="col-lg-6 col-md-6 col-sm-12">
<app-customers-group-list [groups]="groups"></app-customers-group-list>
</div>
</div>