&:first-child{
	color:$main-font-color;
	font-family:$main-font-family;

.material-icons{
	font-family:'Material Icons';
}

.primary-bg{
	background: $main-bg-color !important;
	background: -webkit-linear-gradient(to right, $main-bg-color, $secondary-bg-color) !important;
	background: linear-gradient(to right, $main-bg-color, $secondary-bg-color) !important;

	&-reverse{
	background: $main-bg-color !important;
	background: -webkit-linear-gradient(to left, $main-bg-color, $secondary-bg-color) !important;
	background: linear-gradient(to left, $main-bg-color, $secondary-bg-color) !important;
	}
}



.screen{
	width:100%;
	min-height:100%;
	overflow:hidden;
	position:absolute; 
	left:0;
	top:0;
}

.main-content{
	position:relative;
	margin:100px 0 250px 60px;
	padding:0px 60px 0px 0px;
}

.pagination{
	
	.page-link{
	background-color:$main-bg-color-lighter !important;

	&:hover{
	background-color:$main-bg-color;
	}
	}
	.active .page-link{
	background-color:$secondary-bg-color !important;
	}
}

.modal-content{
	background-color:$secondary-bg-color !important;
}



.main-form-control{
	background:none;
	color:#fff;
	outline:none !important;
	border:none !important;
	border-bottom:1.5px solid $border-main-bottom;
	display:inline-block;

	&+label{
	font-size:14px;

	}
	&:focus{
	border-bottom:3px solid $border-main-bottom;

	&+label{

	}
	}
}

.form-control{
	background:$secondary-bg-color-darker !important;
	color:#fff !important;

	&:focus{
	background:$main-bg-color-lighter !important;
	}
}

.sm{
	transform:scale(.8);
	}



.material-icons{
	vertical-align:bottom;
}

.modal-content{
	background-color:$secondary-bg-color !important;
	padding:20px;

}



.chip{
	padding:5px;
	background:$main-bg-color-lighter;
	text-align:center;
	border-radius:20px;
	margin-right:2px;
	margin-bottom: 4px;
    position: relative;
    display: inline-block;

	i{
	opacity:0.8;
	cursor:pointer;
	font-weight:200;

	&:hover{
	opacity:1;
	}
	}
}

.hoverable{
	cursor:pointer;
	opacity:.85;
	&:hover{
	opacity:1;
	}
}


button,.btn{
	color:#fff;
	cursor:pointer;
	transition:.2s ease-in;

	&.custom-danger-btn{
	background:$button-danger-bg;
	border:1px solid $button-danger-border;
	}

&.custom-primary-btn{
	background:$button-primary-bg;
	border:1px solid $button-primary-border;
}

&:hover{
	opacity:0.8;
}
}

.form-control-empty{
	background:none;
	border:none;
	outline:none;
	color:#fff;
}

//daterange picker
 .custom-day {
      text-align: center;
      padding: 0.185rem 0.25rem;
      display: inline-block;
      height: 2rem;
      width: 2rem;
    }
    .custom-day.focused {
      background-color: #e6e6e6;
    }
    .custom-day.range, .custom-day:hover {
      background-color: rgb(2, 117, 216);
      color: white;
    }
    .custom-day.faded {
      background-color: rgba(2, 117, 216, 0.5);
    }



//simple animation helpers

.rotating{
	animation:rotate 1s infinite linear;
}


@keyframes rotate{
	to{
	transform:rotateZ(360deg);
	}
}


.highcharts-credits{
	display:none !important;
	}

ngb-typeahead-window{
	.btn,button{
	color:$main-font-color !important;
	&:hover,&.active{
	background-color:$main-bg-color !important;
	color:#fff !important;
	}
	}
}

.sidebar{
	position:fixed;
	padding:90px 45px 15px 30px;
	height:100%;
	margin-right:30px;
	background:$main-bg-color;
	z-index:1111;
	left:0;
	
}

@media screen and (max-width: 760px) {
.sidebar {
   padding:80px 0 0 0;
}
}
}



