.sidebar{	
	transition: all .3s ease-out;

	.nav-link,.material-icons{
	color:$secondary-bg-color-lighter !important;

	&:hover{
	color:$secondary-bg-color-darker !important;
	}	
}
.nav-caption{
	transition:all .3s ease-out;
	display:inline-block;
	}



	
}

@media (max-width: 768px) {
.sidebar{
	 .nav-caption{
  		display:none;
  	}
  	.expanded{
  	.nav-caption{
  	display:inline-block;
  	}
  	}
  
}
 
}
