
table{
	border-radius:4px;

ngb-datepicker{
	position: absolute;
	right: 20px;
	

	.ngb-dp-header,.ngb-dp-month-name,.ngb-dp-weekdays{
	background-color:$main-bg-color-lighter !important;
	}
	
}

&.table{
	background-color:$secondary-bg-color-darker;
	border:$secondary-bg-color-lighter 1px solid !important;
	font-size:$font-size-small !important;
	thead{

	&:first-child{
	background-color:darken($secondary-bg-color-darker,6%) !important;
	.sorters{
	font-size:14px !important;
	}
	}
	}
	tr{
	transition:.3s;
	

	&.order-tr:hover{
	background-color:darken($secondary-bg-color-darker,2%);
	}
	.action-icons{

	.material-icons{
		font-size:14px !important;
		margin-right:3px;
	}
	}

	th,td{
	vertical-align:middle !important;
	text-align:center;
	border:$secondary-bg-color-lighter 1px solid !important;
	
	
	&.awaiting{
		color:$warning-color !important;
	}
	&.finalized{
		color:$premium-color !important;
	}
	&.cancelled{
		color:$danger-color !important;
	}

	&:last-child{
	border-right:none !important;
	}
	&:first-child{
	border-left:none !important;

	}
	}
	}
}
}