

 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand ml-4" href="#">
        	<span class="navbar-brand--text">Book-<span class="navbar-brand--text--postfix">shop</span></span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-5" id="navbarCollapse">
        
          <form class="form-inline mt-2 mt-md-0">
            <input class="main-form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"><i class="material-icons">search</i>
          </form>

        </div>
        <div class="notifications">
          	<div class="notifications--main">
          		<i class="material-icons">notifications_none</i>
          		<div class="notifications--counter">4<div class="notifications--counter--ring"></div></div>
          </div>
      </div>
      </nav>