@import './assets/styles/_variables';


@font-face{
	font-family: 'techno';
	src: url("/assets/fonts/techno.otf");
}

::placeholder{
	color:#dedede;
}

.default{
	@import './assets/styles/default';
}

.light{
	@import './assets/styles/light';
}

*{
	padding:0;
	margin:0;
}

.modal{
	z-index:999999999;
}



